@font-face {
    font-family: 'Lucida Bright';
    src: local('Lucida Bright'), url(../fonts/LucidaBrightItalic.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Cabin Sketch';
    src: local('Cabin Sketch'), url(../fonts/CabinSketch-Bold.ttf) format('truetype');
  }
  @font-face {
    font-family: 'SnellRoundhand BoldScript';
    src: local('SnellRoundhand BoldScript'), url(../fonts/2140-font.otf) format('opentype');
  }
  @font-face {
    font-family: '29LTAzer';
    src: local('29LTAzer'), url(../fonts/29LTAzer.ttf) format('truetype');
  }